p{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: blue;
    color: white;
    padding: 20px 20px;
    border-radius: 40px;
    font-size: larger;
}
h1{
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    text-align: center;
}
img{
    max-width: 300px;
    max-height: 300px;
}
.conteiner-slider{
    overflow: hidden;
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
}
.conteiner-slider-single{
    float: left;
    background-color:white;
    padding: 10px;
    margin-left:1px;
    text-align: center;
    
    
}
.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #373855;
	color: #373855;
}

.slick-slide:focus { outline: none; }